<div class="products-nav flex flex-between item-center">
    <div class="products-nav">
        <div class="filter-tabs-small flex">
            <a href="{% url 'products:category' 0 %}" class="tab {% if pk == None or pk == '0' %}
                  active
                {% endif %}">All</a>
            {% for foo in links_menu %}
                <a href="{% url 'products:category' foo.pk %}" class="tab {% if request.resolver_match.kwargs.pk|add:'0' == foo.pk %}
                  active
                {% endif %}">{{ foo.name }} </a>
            {% endfor %}
        </div>
    </div>
</div>