<nav>
  <div class="container flex-container">
      <div>
          {% if user.is_anonymous %}
              <h3>Ты кто?</h3>
              <div>
                  Выполни <a href="{% url 'auth:login' %}"> вход </a> или <a href="{% url 'auth:register' %}">зарегистрируйся</a>
              </div>
          {% else %}
              <a href="{% url 'auth:edit' %}">Привет, {{ user.username|title }}!</a>
                {% if user.is_superuser %}
                <li>
                  <a href="{% url 'admin:users' %}">админка</a>
                </li>
                {% endif %}
              <a href="{% url 'auth:logout' %}">Выход</a>

          {% endif %}
      </div>

    <form>
        <a href="{% url 'basket:basket' %}">Корзина
            <span>
            {% if basket %} {{ basket.0.total_quantity }} {% endif %}
            </span>
        </a>
    </form>
  </div>
</nav>