{% load staticfiles %}
<div class="row">
    <header class="flex flex-between">
        <a href="{% url 'mainApp' %}" class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Interior logo">
        </a>
        <nav class="menu">
            <ul class="flex space-between">
                <li><a class="{% if request.resolver_match.url_name == 'mainApp' %}
                        active
                      {% endif %}" href="{% url 'mainApp' %}">HOME</a></li>
                <li><a class="{% if request.resolver_match.url_name == 'index' %}
                        active
                      {% endif %}" href={% url 'products:index' %}>PRODUCTS</a></li>
                <li><a class="{% if request.resolver_match.url_name == 'history' %}
                        active
                      {% endif %}" href={% url 'history' %}>HISTORY</a></li>
                <li><a class="{% if request.resolver_match.url_name == 'showroom' %}
                        active
                      {% endif %}" href={% url 'showroom' %}>SHOWROOM</a></li>
                <li><a class="{% if request.resolver_match.url_name == 'contact' %}
                        active
                      {% endif %}" href="{% url 'contact' %}">CONTACT</a></li>
                <li><a href="#"><i class="fas fa-search"></i></a></li>
            </ul>
        </nav>
    </header>
</div>

