{% extends 'mainApp/basic.html' %}
{% load staticfiles %}
{% block title %}
    <title>YOUR BASKET | BASKET</title>
{% endblock %}
{% block js %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/basket_scripts.js' %}"></script>
{% endblock %}
{% block content %}
    <section class="header-section">
        <div class="container">
            <div class="header-wrap flex column flex-between">
                {% include 'mainApp/includes/inc_menu.html' %}
                <div class="row">
                    <h1 class="page-heading">
                        Your Basket
                    </h1>
                </div>
            </div>
        </div>
    </section>
    {% include 'basketapp/includes/inc_basket_list.html' %}
{% endblock %}