{% extends 'mainApp/basic.html' %}
{% block title %}
    <title>CONTACT US | INTERIOR</title>
{% endblock %}
{% block content %}
    <section class="header-section">
        <div class="container">
            <div class="header-wrap flex column flex-between">
                {% include 'mainApp/includes/inc_menu.html' %}
                <div class="row">
                    <h1 class="page-heading">
                        Contact Us
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <main>
        <div class="breadcrumbs-block">
            <div class="container">
                <div class="row flex">
                    <a href="/" class="crumb">Home</a>
                    <i class="fa fa-chevron-right divider"></i>
                    <span class="crumb current">Products</span>
                </div>
            </div>
        </div>
        <section class="contacts-section mt-small">
            <div class="container">
                <div class="row flex flex-between">
                    <div class="contact-wrap flex column flex-center item-center">
                        <i class="fa fa-map-marker-alt"></i>
                        <h3 class="contact-title">California</h3>
                        <div class="contact-inner">
                            <h4 class="contact-head">Phone:</h4>
                            <a href="tel:1900-1234-5678" class="contact-link">1900 - 1234 - 5678</a>
                        </div>
                        <div class="contact-inner">
                            <h4 class="contact-head">Email:</h4>
                            <a href="mailto:info@interior.com" class="contact-link">info@interior.com</a>
                        </div>
                        <div class="contact-inner">
                            <h4 class="contact-head">Address:</h4>
                            <p class="contact-text">12 W 1st St, 90001 Los Angeles, California</p>
                        </div>
                    </div>
                    <div class="contact-wrap flex column flex-center item-center">
                        <i class="fa fa-map-marker-alt"></i>
                        <h3 class="contact-title">California</h3>
                        <div class="contact-inner">
                            <h4 class="contact-head">Phone:</h4>
                            <a href="tel:1900-1234-5678" class="contact-link">1900 - 1234 - 5678</a>
                        </div>
                        <div class="contact-inner">
                            <h4 class="contact-head">Email:</h4>
                            <a href="mailto:info@interior.com" class="contact-link">info@interior.com</a>
                        </div>
                        <div class="contact-inner">
                            <h4 class="contact-head">Address:</h4>
                            <p class="contact-text">12 W 1st St, 90001 Los Angeles, California</p>
                        </div>
                    </div>
                    <div class="contact-wrap flex column flex-center item-center">
                        <i class="fa fa-map-marker-alt"></i>
                        <h3 class="contact-title">California</h3>
                        <div class="contact-inner">
                            <h4 class="contact-head">Phone:</h4>
                            <a href="tel:1900-1234-5678" class="contact-link">1900 - 1234 - 5678</a>
                        </div>
                        <div class="contact-inner">
                            <h4 class="contact-head">Email:</h4>
                            <a href="mailto:info@interior.com" class="contact-link">info@interior.com</a>
                        </div>
                        <div class="contact-inner">
                            <h4 class="contact-head">Address:</h4>
                            <p class="contact-text">12 W 1st St, 90001 Los Angeles, California</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}