{% extends 'mainApp/basic.html' %}
{% block title %}
    <title>FISHNET CHAIR | INTERIOR</title>
{% endblock %}
{% block content %}
    <section class="header-section">
        <div class="container">
            <div class="header-alt">
                {% include 'mainApp/includes/inc_menu.html' %}
            </div>
            <div class="bottom-header flex flex-center">
                <a href="#" class="active">All</a>
                <a href="#">HOME</a>
                <a href="#">OFFICE</a>
                <a href="#">FURNITURE</a>
                <a href="#">MODERN</a>
                <a href="#">CLASSIC</a>
            </div>
        </div>
    </section>
    <main>
        <div class="breadcrumbs-block">
            <div class="container">
                <div class="row flex">
                    <a href="{% url 'mainApp' %}" class="crumb">Home</a>
                    <i class="fa fa-chevron-right divider"></i>
                    <a href="{% url 'products:index' %}" class="crumb">Products</a>
                    <i class="fa fa-chevron-right divider"></i>
                    <span class="crumb current">Fishnet Chair</span>
                </div>
            </div>
        </div>
        <section class="about-product mt-small">
            <div class="container">
                <div class="row flex flex-between">
                    <div class="product-preview">
                        <img src="/static/img/product.jpg" alt="">
                        <div class="preview-control flex flex-center">
                            <a href="#" class="control-tab"><img src="/static/img/controll.jpg" alt=""></a>
                            <a href="#" class="control-tab"><img src="/static/img/controll11.jpg" alt=""></a>
                            <a href="#" class="control-tab"><img src="/static/img/controll2.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="product-bio cta-wrap">
                        <h1 class="product-title cta-head">
                            Fishnet Chair
                        </h1>
                        <h4 class="cta-tag red">hot deal</h4>
                        <p class="product-price">
                            $ <span class="price-imp">36.7</span>/sq
                        </p>
                        <a class="primary-btn" href="#">Order us <i class="fa fa-chevron-right"></i></a>
                        <p class="product-desc">The majesty of Mountains - Ugmonk style.</p>
                        <p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                        <p class="product-desc">et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="product-desc">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="tr-products-section mb">
            <div class="container">
                <div class="row">
                    <div class="products-nav flex flex-between item-center">
                        <h3 class="sect-heading">Related Products</h3>
                        <a href="/products" class="more-link">
                            Explore all
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                    <div class="products-grid flex flex-between">
                        <div class="product">
                            <img class="img-responsive" src="/static/img/product-11.jpg" alt="">
                            <div class="hover-overlay flex">
                                <a href="#" class="primary-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                <h2 class="product-name">
                                    Fishnet chair
                                </h2>
                                <p class="product-desc">Seat and back with upholstery made of cold cure foam.</p>
                            </div>
                        </div>
                        <div class="product">
                            <img class="img-responsive" src="/static/img/product-21.jpg" alt="">
                            <div class="hover-overlay flex">
                                <a href="#" class="primary-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                <h2 class="product-name">
                                    Fishnet chair
                                </h2>
                                <p class="product-desc">Seat and back with upholstery made of cold cure foam.
                                </p>
                            </div>
                        </div>
                        <div class="product">
                            <img class="img-responsive" src="/static/img/product-31.jpg" alt="">
                            <div class="hover-overlay flex">
                                <a href="#" class="primary-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                <h2 class="product-name">
                                    Fishnet chair
                                </h2>
                                <p class="product-desc">Seat and back with upholstery made of cold cure foam.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}