{% extends 'mainApp/basic.html' %}
{% block title %}
    <title>OUR PRODUCTS RANGE | INTERIOR</title>
{% endblock %}
{% block content %}
    <section class="header-section">
        <div class="container">
            <div class="header-wrap flex column flex-between">
                {% include 'mainApp/includes/inc_menu.html' %}
                <div class="row">
                    <h1 class="page-heading">
                        Our Products Range
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <main>
        <div class="breadcrumbs-block">
            <div class="container">
                <div class="row flex">
                    <a href="/" class="crumb">Home</a>
                    <i class="fa fa-chevron-right divider"></i>
                    <span class="crumb current">Products</span>
                </div>
            </div>
        </div>
        <section class="tr-products-section mt-small">
            <div class="container">
                <div class="row">
                    <div class="products-nav flex flex-between item-center">
                        <div class="products-nav">
                            <div class="filter-tabs-small flex">
                                <a href="#" class="tab active">All</a>
                                <a href="#" class="tab">HOME</a>
                                <a href="#" class="tab">OFFICE</a>
                                <a href="#" class="tab">FURNITURE</a>
                                <a href="#" class="tab">MODERN</a>
                                <a href="#" class="tab">CLASSIC</a>
                            </div>
                        </div>
                    </div>
                    <div class="products-grid flex flex-between">
                        <div class="product">
                            <img class="img-responsive" src="/static/img/product-11.jpg" alt="">
                            <div class="hover-overlay flex">
                                <a href="{% url 'fishnet_chair' %}" class="primary-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                <h2 class="product-name">
                                    Fishnet chair
                                </h2>
                                <p class="product-desc">Seat and back with upholstery made of cold cure foam.</p>
                            </div>
                        </div>
                        <div class="product">
                            <img class="img-responsive" src="/static/img/product-21.jpg" alt="">
                            <div class="hover-overlay flex">
                                <a href="{% url 'fishnet_chair' %}" class="primary-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                <h2 class="product-name">
                                    Fishnet chair
                                </h2>
                                <p class="product-desc">Seat and back with upholstery made of cold cure foam.
                                </p>
                            </div>
                        </div>
                        <div class="product">
                            <img class="img-responsive" src="/static/img/product-31.jpg" alt="">
                            <div class="hover-overlay flex">
                                <a href="{% url 'fishnet_chair' %}" class="primary-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                <h2 class="product-name">
                                    Fishnet chair
                                </h2>
                                <p class="product-desc">Seat and back with upholstery made of cold cure foam.
                                </p>
                            </div>
                        </div>
                        <div class="product">
                            <img class="img-responsive" src="/static/img/product-41.jpg" alt="">
                            <div class="hover-overlay flex">
                                <a href="{% url 'fishnet_chair' %}" class="primary-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                <h2 class="product-name">
                                    Fishnet chair
                                </h2>
                                <p class="product-desc">Seat and back with upholstery made of cold cure foam.
                                </p>
                            </div>
                        </div>
                        <div class="product">
                            <img class="img-responsive" src="/static/img/product-5.jpg" alt="">
                            <div class="hover-overlay flex">
                                <a href="{% url 'fishnet_chair' %}" class="primary-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                <h2 class="product-name">
                                    Fishnet chair
                                </h2>
                                <p class="product-desc">Seat and back with upholstery made of cold cure foam.
                                </p>
                            </div>
                        </div>
                        <div class="product">
                            <img class="img-responsive" src="/static/img/product-6.jpg" alt="">
                            <div class="hover-overlay flex">
                                <a href="{% url 'fishnet_chair' %}" class="primary-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                <h2 class="product-name">
                                    Fishnet chair
                                </h2>
                                <p class="product-desc">Seat and back with upholstery made of cold cure foam.
                                </p>
                            </div>
                        </div>
                        <div class="product">
                            <img class="img-responsive" src="/static/img/product-11.jpg" alt="">
                            <div class="hover-overlay flex">
                                <a href="{% url 'fishnet_chair' %}" class="primary-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                <h2 class="product-name">
                                    Fishnet chair
                                </h2>
                                <p class="product-desc">Seat and back with upholstery made of cold cure foam.</p>
                            </div>
                        </div>
                        <div class="product">
                            <img class="img-responsive" src="/static/img/product-21.jpg" alt="">
                            <div class="hover-overlay flex">
                                <a href="{% url 'fishnet_chair' %}" class="primary-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                <h2 class="product-name">
                                    Fishnet chair
                                </h2>
                                <p class="product-desc">Seat and back with upholstery made of cold cure foam.
                                </p>
                            </div>
                        </div>
                        <div class="product">
                            <img class="img-responsive" src="/static/img/product-31.jpg" alt="">
                            <div class="hover-overlay flex">
                                <a href="{% url 'fishnet_chair' %}" class="primary-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                <h2 class="product-name">
                                    Fishnet chair
                                </h2>
                                <p class="product-desc">Seat and back with upholstery made of cold cure foam.
                                </p>
                            </div>
                        </div>
                        <div class="product">
                            <img class="img-responsive" src="/static/img/product-41.jpg" alt="">
                            <div class="hover-overlay flex">
                                <a href="{% url 'fishnet_chair' %}" class="primary-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                <h2 class="product-name">
                                    Fishnet chair
                                </h2>
                                <p class="product-desc">Seat and back with upholstery made of cold cure foam.
                                </p>
                            </div>
                        </div>
                        <div class="product">
                            <img class="img-responsive" src="/static/img/product-5.jpg" alt="">
                            <div class="hover-overlay flex">
                                <a href="{% url 'fishnet_chair' %}" class="primary-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                <h2 class="product-name">
                                    Fishnet chair
                                </h2>
                                <p class="product-desc">Seat and back with upholstery made of cold cure foam.
                                </p>
                            </div>
                        </div>
                        <div class="product">
                            <img class="img-responsive" src="/static/img/product-6.jpg" alt="">
                            <div class="hover-overlay flex">
                                <a href="{% url 'fishnet_chair' %}" class="primary-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                                <h2 class="product-name">
                                    Fishnet chair
                                </h2>
                                <p class="product-desc">Seat and back with upholstery made of cold cure foam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="load-more-wrap flex flex-center">
                        <a href="#" class="load-more">
                            <i class="fas fa-sync-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="cta-section">
            <div class="container flex">
                <div class="cta-wrap cta-block cta-one flex item-center">
                    <div class="row">
                        <h4 class="cta-tag blue">exclusive</h4>
                        <h2 class="cta-name">Fishnet Chair</h2>
                        <p class="cta-desc">Seat and back with upholstery made of cold cure foam.
                            Steel frame, available in matt powder-coated black</p>
                        <a class="primary-btn" href="#">
                            Order us
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="cta-wrap cta-block cta-two flex item-center">
                    <div class="row">
                        <h4 class="cta-tag blue">exclusive</h4>
                        <h2 class="cta-name">Fishnet Chair</h2>
                        <p class="cta-desc">Seat and back with upholstery made of cold cure foam.
                            Steel frame, available in matt powder-coated black</p>
                        <a class="primary-btn" href="#">
                            Order us
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}